* {
    box-sizing: border-box;
}

body {
    background-color: #ff4365;
}

/* HEADER */

.navbar-brand h1 {
    color: #030301;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(59, 59, 59);
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.75;
  }
  
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ff4365;
  }

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #ff4365;
    text-align: center;
}

#nav-list a span {
    font-size: 1.8em;
}

/* CONTENT */

#mainTitle {
    font-size: 24px;
    text-align: center;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
}

#beef {
    background-color: #cf2d4b;
}

#chicken {
    background-color: navajowhite;
}

#fish {
    background-color: #00d9c0;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    color: #030301;
    width: 200px;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border: 1px solid #030301;
    position: absolute;
    right: 0;
}

.information-container {
    background-color: #b7ad99;
    margin: 8px 4px;
    position: relative;
}

.description {
    color: #030301;
    padding: 50px 24px 16px 24px;
    margin-top: 32px;
}